<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Library Management System</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="center-align">Library Management System</h1>
    <hr>
    <h2 class="center-align">Save Book</h2>
    <form action="#" class="form-group" method="POST" th:action="@{/books}" th:object="${book}">
        <div class="form-group">
            <label for="id">Book Id</label>
            <input class="form-control" id="id" placeholder="Book Id" th:field="*{id}" type="number">
        </div>
        <div class="form-group">
            <label for="title">Book Title</label>
            <input class="form-control" id="title" placeholder="Book Title" th:field="*{title}" type="text">
        </div>
        <div class="form-group">
            <label for="authorId">Author Id</label>
            <input class="form-control" id="authorId" placeholder="Author Id" th:field="*{author.id}" type="number">
        </div>
        <div class="form-group">
            <label for="authorName">Author Name</label>
            <input class="form-control" id="authorName" placeholder="Author Name" th:field="*{author.name}" type="text">
        </div>
        <div class="center-align">
            <button class="btn waves-effect waves-light" type="submit">Save Book</button>
        </div>
    </form>
    <hr>
    <a class="btn waves-effect waves-light" th:href="@{/books}"> Back to Library</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>