<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Books</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h3 class="center-align">Library</h3>
    <table class="striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book:${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author.name}"></td>
            <td>
                <a class="btn waves-effect waves-light red" th:href="@{/books/delete/{id}(id=${book.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="center-align">
        <a class="btn waves-effect waves-light" th:href="@{/books/save}">Add Book</a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>